* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    text-align: center;
}

#wrapper {
    width: 820px;
    max-width: 100%;
    min-height: 200px;
    margin: 0 auto;
    padding: 0 10px 35px;
    position: relative;
}

#svgwrapper {
    height: 1px;
    padding-bottom: 48%;
    position: relative;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
}

path {
    fill: #555656;
    stroke: #fff;
    stroke-width: 2;
}

path:hover {
    fill: #17b1c5;
}

.hawaii-helper {
    fill: transparent;
    stroke-width: 0;
}

.hawaii-helper:hover {
    fill: none;
}

.hawaii-helper:hover + path {
    fill: #17b1c5;
}


#descriptions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
}

.region-desc-wrapper {
    background-color: #576e7f;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px;
    text-align: left;
    font-family: helvetica, arial;
    position: relative;
    display: none;
}

.region-title {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: .5em;
}

.region-desc {
    font-size: 12px;
    max-width: 65%;
}

.region-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.region-img img {
    position: absolute;
    max-width: 100%;
    height: 100%;
    padding: 23px 8px;
    top: 0;
    right: 0;
}

.northwest #northwest {
    display: block;
}

.southwest #southwest {
    display: block;
}

.greatplains #greatplains {
    display: block;
}

.midwest #midwest {
    display: block;
}

.northeast #northeast {
    display: block;
}

.southeast #southeast {
    display: block;
}

.hawaii #hawaii {
    display: block;
}

.alaska #alaska {
    display: block;
}

@media (max-width: 1120px) and (min-width: 769px) {}

@media (max-width: 768px) and (min-width: 651px) {
    #descriptions {
        width: 75%;
        bottom: -35px;
    }
}

@media (max-width: 650px) {
    #descriptions {
        position: relative;
        width: 100%;
    }

    .region-desc {
        width: 70%;
    }
}
